*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    
}
body{
	background: linear-gradient(-45deg, #afb5ee, #9198e5,#616694, #000000);
    background-size: 400% 400%;
	animation: gradient 14s ease infinite;
    text-align: center;
    margin-bottom: 40px;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

hr{
    background-color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-right: 30px;
}


li{
    list-style: none;
}

/* TITEL */

h1{
    color: white;
    font-size: xx-large;
}

h2{
    color: white;
}

h3{
    padding: 20px;
}



/* Fotoslider */

.fotoslider{
    width: 600px;
    height: 300px;
  }
  
  .slide{
    position: absolute; 
    overflow: hidden;
    transition: opacity linear 1s;
  }
  


  /* GRID */
   .alles{
       display: grid;
       grid-gap: 50px;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 0.1fr 1fr 1fr;
       grid-template-areas: "titel titel"
                            "fotoslider fotoslider"
                            "doelgroep skills   "
                            "team      feedback "
                            "github    live     ";
   }

   .titel{
       grid-area: titel;
       margin-top: 40px;
   }
   .doelgroep{
        grid-area: doelgroep;
        background-color: rgba(255, 255, 255, 0.281);
        margin: 15px;
        
   }
   .skills{
        grid-area: skills;
        background-color: rgba(255, 255, 255, 0.281);
        margin: 15px;

   }
   .team{
    grid-area: team;
    background-color: rgba(255, 255, 255, 0.281);
    margin: 15px;

}
    .feedback{
        grid-area: feedback;
        background-color: rgba(255, 255, 255, 0.281);
        margin: 15px;

}
.github{
    grid-area: github;
    background-color: rgba(255, 255, 255, 0.281);
    margin: 15px;

}
.live{
    grid-area: live;
    background-color: rgba(255, 255, 255, 0.281);
    margin: 15px;

}

 /* Foto slider */
   .slide2{
       visibility: hidden;
   }

   .foto-container {
       grid-area: fotoslider;
       display: flex;
       justify-content: center;
       align-content: center;
   }
   
@media screen and (max-width: 720px){
    .alles{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 1fr 1fr 1fr;
        grid-template-areas: "titel"
                             "fotoslider"
                             "doelgroep "
                             "skills    "
                             "team      "
                             "feedback  "
                             "github    "
                             "live      ";
    }
}

@media screen and (max-width: 400px){


    .alles{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 1fr 1fr 1fr;
        grid-template-areas: "titel"
                             "fotoslider"
                             "doelgroep "
                             "skills    "
                             "team      "
                             "feedback  "
                             "github    "
                             "live      ";
    }
}


/* HREF */

a{
    text-decoration: none;
    color: aqua;
}