@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: antiquewhite;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;;
}

/*#dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas: "header header"
                         "bes kwh"

}*/

.item {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    padding: 5px;
    min-height: 50px;
}

.header{
    background-color: #ffc476;
    grid-area: header;
}

.bes{
    background-color: #ffc476;
    grid-area: bes;

}

.afb {
    background-color: #ffc476;
    grid-area: afb;

}

.link {
    background-color: #ffc476;
    grid-area: link;

}

@media screen and (min-width: 900px) {
    #dashboard {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header header"
                             "bes bes"
                             "afb afb"
                             "link link";
                             
    
    }
}