    div.a {
        text-align: center;
        border: 5px solid white;
        color: white;
    }
    
    div.b {
        text-align: center;
        border: 5px solid white;
        color: white;
        margin-right: 50%;
    }
    
    div.c {
        text-align: center;
        border: 5px solid white;
        color: white;
        margin-left: 50%;
        margin-top: -124px;
    }
    
    div.d {
        text-align: center;
        border: 5px solid white;
        color: white;
        width: 32.62%;
        float: left;
        height: 150px;
    }
    
    div.e {
        text-align: center;
        border: 5px solid white;
        color: white;
    }
    
    div.f {
        text-align: center;
        border: 5px solid white;
        color: white;
    }
    
    .flexbox_container {
        text-align: center;
        border: 5px solid white;
        color: white;
    }
    
    .flexbox_item1 {
        background-image: url("homepage.png")
    }
    
    ;
    .flexbox_item2 {
        background-image: url("Een_van_de_decennia.png");
    }
    
    .flexbox_item3 {
        background-image: url("About_us.png");
    }
    
    .img {
        width: 200px;
        height: 120px;
    }
    
    body {
        background-color: black;
    }